.scale
  .scale__line
    .scale__overlay(id='overlay', style='left: -3px')
    .scale__item
      p.scale__number 71
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 72
    .scale__item
      p.scale__number 73
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 74
    .scale__item
      p.scale__number 75
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 76
    .scale__item
      p.scale__number 77
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 78
    .scale__item
      p.scale__number 79
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 80
    .scale__item
      p.scale__number 81
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 82
    .scale__item
      p.scale__number 83
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 84
    .scale__item
      p.scale__number 85
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 86
    .scale__item
      p.scale__number 87
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 88
    .scale__item
      p.scale__number 89
      .scale__marker
    .scale__item--bottom
      .scale__marker
      p.scale__number--small 90

  .station
    h3.station__name M
      span(id='radioName') 71
      | &nbsp;Radio
    h4.station__location Barselona 11:35